@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLink {
    @apply cursor-pointer text-xl font-bold text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]
    ;
  }

  .bannerButton {
    @apply flex items-center justify-center gap-x-2 rounded px-5 py-3 min-w-36 text-sm font-semibold 
    transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
}
@layer utilities {
  .truncate-multiline-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Ajusta el número de líneas */
  }
  .content-visibility {
    content-visibility: auto;
  }
  .contain {
    contain: paint;
  }

  .text-shadow {
    color: white; /* Color del texto */
    text-shadow: 2px 2px 14px black; /* Sombras del texto */
  }

  .page-transition {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(12px);
  }

  .scroller::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 8px; /* Altura para scroll horizontal, si aplica */
  }
  
  .scroller::-webkit-scrollbar-track {
    background: transparent; /* Oculta el track */
  }
  
  .scroller::-webkit-scrollbar-thumb {
    background: #A9A9A9; /* Estilo de la barra de desplazamiento */
    border-radius: 6px; /* Opcional: redondear la barra */
  }
  
  .scroller::-webkit-scrollbar-button {
    display: none; /* Oculta las flechas */
  }

  .selectOptions {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    -webkit-appearance: none; /* Para Safari */
    -moz-appearance: none; /* Para Firefox */
    background-color: #333333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    font-size: 1rem; /* Tamaño de fuente moderado */
    font-weight: 600; /* Hacer que el texto sea más destacado */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #666; /* Borde gris claro */
    width: 200px; /* Ancho ajustable */
    cursor: pointer; /* Puntero de selección */
    outline: none; /* Eliminar el contorno al enfocar */
    transition: background-color 0.3s, border-color 0.3s; /* Suavizar transiciones */
}

.selectOptions:hover {
    background-color: #444; /* Fondo más claro al pasar el mouse */
    border-color: #fff; /* Borde blanco en hover */
}

.selectOptions:focus {
    background-color: #222; /* Fondo aún más oscuro al enfocarse */
    border-color: #ff0000; /* Borde rojo al enfocar (opcional, o puedes usar blanco) */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Efecto de sombra */
}

.selectOptions option {
    background-color: #333; /* Fondo oscuro para las opciones */
    color: #fff; /* Texto blanco */
    font-size: 1rem; /* Tamaño de texto similar */
    padding: 10px; /* Espaciado de las opciones */
    border: none; /* Sin borde para las opciones */
}

.selectOptions option:hover {
    background-color: #555; /* Fondo más claro al pasar el mouse sobre las opciones */
}
}

.movie-card-details {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, transparent 65%);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    opacity: 1;
  }

  /* .page-transition {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
  
  .page-transition.transition-in {
    opacity: 1;
  }
  
  .page-transition.transition-out {
    opacity: 0;
  } */
   
}

@media (min-width: 720px) {
  .swiper-wrapper {
        &:hover {
            .swiper-slide {
                transform: translateX(-15%);
                opacity: 0.3;
  
                &:hover {
                    transform: scale(1.2) !important;
                    z-index: 1;
                    opacity: 1;
  
                    ~ .swiper-slide {
                        transform: translateX(15%);
                    }
                }
            }
        }
    }
}

@media (prefers-reduced-motion) {
  .swiper-wrapper {
    &:hover {
        .swiper-slide {
            transform: translateX(0);
            opacity: 0.3;

            &:hover {
                transform: scale(1.2) !important;
                z-index: 1;
                opacity: 1;

                ~ .swiper-slide {
                    transform: translateX(0);
                }
            }
        }
    }
}
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.mySwiper {
  position: relative !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  opacity: 0;
  height: 100% !important;
  width: 50px !important;
  top: 15px !important;
  transition: opacity .3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  left: -40px !important;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 70%);
}

.swiper-button-next {
  right: -40px !important;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 70%);

}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem !important;
  font-weight: bold;
}

.popular-skeleton {
  position: relative;
  width: 100%; 
  aspect-ratio: 9/14; /* Mantén la proporción de aspecto */
  border-radius: 10px;
  
}

.horizontal-skeleton {
  position: relative;
  width: 100%; 
  aspect-ratio: 16/9; /* Mantén la proporción de aspecto */
  border-radius: 10px;
  
}

.popular-skeleton::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: rgb(82, 80, 80);
  animation: pulse 1.5s infinite ease-in-out;
}
.horizontal-skeleton::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: rgb(82, 80, 80);
  animation: pulse 1.5s infinite ease-in-out;
}

.popular-skeleton:nth-child(3),
.popular-skeleton:nth-child(4),
.popular-skeleton:nth-child(5),
.popular-skeleton:nth-child(6),
.popular-skeleton:nth-child(7),
.popular-skeleton:nth-child(8) {
  display: none;
}
.horizontal-skeleton:nth-child(2),
.horizontal-skeleton:nth-child(3),
.horizontal-skeleton:nth-child(4){
  display: none;
}

@media (min-width:600px){
  .popular-skeleton:nth-child(3) {
    display: block;
  }
}
@media (min-width:800px){
  .popular-skeleton:nth-child(4) {
    display: block;
  }
}
@media (min-width:1024px){
  .popular-skeleton:nth-child(5) {
    display: block;
  }
}
@media (min-width:1200px){
  .popular-skeleton:nth-child(6) {
    display: block;
  }
}
@media (min-width:1500px){
  .popular-skeleton:nth-child(7) {
    display: block;
  }
}
@media (min-width:1800px){
  .popular-skeleton:nth-child(8) {
    display: block;
  }
}

@media (min-width:600px){
  .horizontal-skeleton:nth-child(2) {
    display: block;
  }
}
@media (min-width:800px){
  .horizontal-skeleton:nth-child(3) {
    display: block;
  }
}
@media (min-width:1200px){
  .horizontal-skeleton:nth-child(4) {
    display: block;
  }
}

@keyframes pulse {
  0%, 100% {
    background-color: rgb(82, 80, 80);
  }
  50% {
    background-color: rgba(82, 80, 80, .5);
  }
}

.data-genres ul li span {
  font-size: 12px;
}
